
/* HOME PAGE */

body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    max-height: 100vh;
}

main {
    background-color: white;
}

/* HOME */
header {
    font-size: 18px;
    text-shadow: 2px 2px 4px #c2c2c2;
    margin: 3vh;
    height: 5vh;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.home-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
}

.swatch {
    height: 350px;
    width: 250px;
    border: 1px solid #c2c2c2;
    box-shadow: 2px 2px 4px #c2c2c2;
    margin: 30px;
}

.color-block {
    width: 250px;
    height: 250px;
}

.color-description {
    height: 15vh;
    padding: 5px;
}

.bio {
    background-color: lightcyan;
}   

.projects {
    background-color: lightskyblue;
}

.contact {
    background-color: lightblue;
}

.bonus {
    background-color: lightsteelblue;
}

h2 {
    font-size: 20px;
    margin: 0 0 3px 0;
}

p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* OUTER PAGES */
.flex-nav ul {
    list-style: none;
    margin: 3vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-nav li {
    flex: 1 1 150px;
    padding: 5px;
}

.alt-swatch {
    width: 30vw;
    height:40vw;
    border: 1px solid #c2c2c2;
    box-shadow: 2px 2px 4px #c2c2c2;
    margin: 50px 20px;
}

.alt-color-block {
    height: 30vw;
    width: 30vw;
}

.alt-heading {
    font-size: 16px;
    padding: 5px;
}

.lagniappe-image {
    max-height: 300px;
    max-width: 300px;
    margin: 20px;
    box-shadow: 2px 2px 4px #c2c2c2;
}

.text-container {
    width: 90vw;
    font-size: 18px;
    margin: 20px;
}


.image {
    max-width: 150px;
    max-height: 150px;
    margin: 20px 0;
}

a:hover {
    color: deeppink;
}

@media only screen and (min-width: 760px) {
    header {
        font-size: 32px;
    }

    .color-description p {
        font-size: 16px;
        line-height: 20px;
    }

    .flex-nav li {
        text-align: center;
        font-size: 26px;
    }

    .project-container {
        display: flex;
        align-items: center;
        padding: 30px;
        flex-wrap: wrap;
    }

    .alt-swatch {
        width: 250px;
        height: 350px;
        border: 1px solid #c2c2c2;
        box-shadow: 2px 2px 4px #c2c2c2;
        margin-top: 100px;
        margin-bottom: 20px;
    }

    .alt-color-block {
        height: 250px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .alt-heading {
        font-size: 22px;
        padding: 5px;
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text-container {
        font-size: 18px;
        line-height: 30px;
        height: 350px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        max-width: 700px;
        padding: 20px;
        justify-content: flex-end;
    }

    .lagniappe-image {
        align-self: flex-end;
    }

    .image {
        max-height: 300px;
        max-width: 300px;
    }

    /* PROJECTS */
    #project-text {
        font-size: 18px;
        line-height: 26px;
    }
    .project-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .project {
        flex: 1 1 350px;
        padding: 20px;
    }

}


